<html>
	<head>
		<title>Predict</title>
		<script type="text/javascript" src="brython.js"></script>
		<script type="text/javascript" src="brython_stdlib.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                
	</head>
	<body onload="brython(1)">
		<script type="text/python3" src="functions.py"></script>
		<script type="text/python3" src="data_pipeline.py"></script>
        <textarea id="user_input"></textarea>
		<button id="predict_button">Predict!</button>
		<div id="result"></div>
        <a id="get_new_data" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Get Latest Data!</a>
        <div id="data_stream"></div>
	</body>
</html>
